<img src="/img/logo.png" alt="Logo Groupe Maker" class="logo" />


<div class="home-container">
  <h1>Bienvenue sur Groupe Maker</h1>
  <p>Une plateforme pour faciliter la répartition des élèves en groupes de travail.</p>

  <div class="home-actions">
    <button (click)="goTo('/connexion')">Se connecter</button>
    <button (click)="goTo('/inscription')">S'inscrire</button>
  </div>

  <div class="home-footer">
    <p>Un projet pédagogique fun, humain et structuré</p>
  </div>
  <img src="/img/img.png" alt="Illustration accueil" class="home-illustration" />

</div>
