<div class="groupes-valides">
  <h3>Dernier tirage validé</h3>

  @if (!dernierTirageValide) {
    <p>Aucun tirage validé pour l’instant.</p>
  } @else {
    <p><strong>Liste :</strong> {{ dernierTirageValide.listeNom }}</p>
    <p><strong>Date :</strong> {{ dernierTirageValide.date }}</p>

    <ul>
      @for (groupe of dernierTirageValide.groupes; track groupe.nom) {
        <li>
          <strong>{{ groupe.nom }} :</strong>
          <ul>
            @for (personne of groupe.personnes; track personne.id) {
              <li>{{ personne.prenom }}</li>
            }
          </ul>
        </li>
      }
    </ul>
  }
</div>
